@use "../abstracts/variables" as *;

.row {
  max-width: $grid-width;
  margin: 0 auto;
  background-color: #eee;

  &:not(:last-child) {
    margin-bottom: $vertical-gutter;
  }

  .col-1-of-2 {
    float: left;
    width: calc((100% - $horizontal-gutter) / 2);
    background-color: orangered;

    &:not(:last-child) {
      margin-right: $horizontal-gutter;
    }
  }
}
